<div class="col-md-8">
  <div class="event-details">
    <span class="event-name"><%= @idea.name %></span>
    <span class="committee-name"><%= @idea.committee.name %></span>
    <p class="idea-description"><%= @idea.description %></p>
    <p class="text-right user-name"><%= @idea.author.username %></p>
  </div>

  <div class="comments">
    <div class="comments-list" id="commentsList">
      <p class="bg-success text-success" id="successMsg" style="display:none"></p>
      <p class="bg-danger text-danger" id="errorMsg" style="display:none"></p>
      <% @comments.each do |comment| %>
          <%= render partial: "comment", locals: {comment: comment, idea: @idea} %>
      <% end %>
      <div class="comment-form">
        <%= render partial: "comments/form" %>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <h2>Other Ideas!!</h2>
  <div class="ideas-list">
    <% @ideaList.each do |new_idea| %>
        <div class="idea-block">
          <div class="event-details">
            <div class="event-heading">
              <% if can? :show, NewIdea %>
                  <span class="event-name"><%= link_to "#{new_idea.name}", new_idea_path(new_idea) %></span>
              <% else %>
                  <span class="event-name"><%= link_to "#{new_idea.name}", new_idea_comments_path(new_idea) %></span>
              <% end %>
              <span class="committee-name"><%= new_idea.committee.name %></span>
            </div>
            <p><%= new_idea.description %></p>
            <p class="text-right user-name"><%= new_idea.user.username %></p>
          </div>
        </div>
    <% end %>
  </div>
</div>