<div class="col-md-12">
  <div id="events">
    <p class="text-center calendar-month">
      <%= link_to "<", date: @date.prev_month %>
      <span id="month"><%= @date.strftime("%B %Y") %></span>
      <%= link_to ">", date: @date.next_month %>
    </p>
    <% if current_user.nil? %>
    <p class="text-right all-link">
          <%= link_to "See all events", events_path %>
     </p>
    <% end %>
    <%= calendar @date do |date| %>
        <%= date.day %>
        <% if @events_by_date[date] %>
            <ul>
              <% @events_by_date[date].each do |event| %>
                  <li><%= link_to event.name, event %></li>
              <% end %>
            </ul>
        <% end %>
    <% end %>
  </div>
</div>